<form method="post">
    Username: <input type="text" name="username" /> Password: <input type="password" name="password" />
    <br />
    <p>Title: @ViewData["Title"]</p>
    <br />
    <button type="submit">Login</button>
</form>