@page
@model NetJsonRpc.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

@if (Model.IsUserLogged)
{
    <p>@Model.Message</p>
}
else
{
    await Html.RenderPartialAsync("_FormLoginPartial.cshtml");
}

@section Scripts {
    <script>
        console.log("Welcome");
    </script>
}
